@import 'tailwindcss';

@theme {
  --font-BD-serifItalic: 'Playfair Display', 'serif';
  --font-BD-mont: 'Montserrat', 'sans-serif';
  --font-BD-sans: 'Noto Sans KR', 'sans-serif';
  --font-BD-ui: 'Inter', 'sans-serif';

  --color-BD-PureWhite: #f8f8f8;
  --color-BD-ElegantGold: #c8ab7c;
  --color-BD-WarmBeige: #f7f4ef;
  --color-BD-CharcoalBlack: #333333;
  --color-BD-CoolGray: #888888;
  --color-BD-CancelGrayHover: #d0d0d0;
  --color-BD-SoftGrayLine: #e0e0e0;
  --color-BD-DangerRed: #d9534f;
  --color-BD-DangerRedDark: #c9302c;
  --color-BD-deepTeal: #1A434A;
  --color-BD-bubbleSend: #cfe2ff;
  --color-BD-bubbleFrom: #fff3cd;
}
