html {
    font-size: 18px
}
.d-flex {
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
  
}
.gap-1 {
    gap: 7rem
}
.row-reverse {
    flex-direction: row-reverse;
}
.my-1 {
    margin-top: 7rem;
    margin-bottom: 1rem
}
.treatment_container {
    max-width: 1440px;
    margin: 0 auto
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem
}


.text-center {
    text-align: center;
}
